{% extends 'base.html.twig' %}

{% block title %}Eir Advices{% endblock %}

{% block body %}
    {% if is_granted('ROLE_PATIENT') %}
        <div class="row">
            <div class="container-fluid col-11 col-lg-6">
                <div class="card bg-dark text-white position-lg-fixed" style="z-index: 1">
                    <h2 class="ml-5 p-2">Mes informations</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">
                            <h4>{{ app.user.patient.lname }} {{ app.user.patient.fname }}</h4></li>
                        <li class="list-group-item bg-dark">Région : {{ app.user.patient.region.name }}</li>
                        <li class="list-group-item bg-dark">Pathologies connues : {{ app.user.patient.disease }}</li>
                        <li class="list-group-item bg-dark">E-mail : {{ app.user.email }}</li>
                        <li class="list-group-item bg-dark"><a
                                    href="{{ path('patient_edit', {'id' : app.user.patient.id}) }}"
                                    class="btn btn-primary">Modifier mes informations</a></li>
                    </ul>
                </div>
                <div class="position-absolute fixed-bottom d-none d-lg-block" style="z-index: 0">
                    <img src="/build/images/doctors.png" class="" height="400">
                </div>
            </div>
            <div class="container-fluid col-11 col-lg-6">
                <div class=>
                    <div class="row mx-auto bg-dark rounded p-5">
                        <div class="mr-4">
                            <img src="/build/images/doctor-man.png" height="200"/>
                        </div>
                        <a href="{{ path('ask_new') }}" class="btn bg-info text-white p-4 my-auto mx-auto"
                           style="height: fit-content">
                            <strong>J'ai besoin d'être conseillé par un médecin</strong></a>
                    </div>
                    <hr class="my-4 w-50 ml-5"/>
                    <div class="text-white ">
                        <h2>Liste de mes demandes crées</h2>
                        <p>Vous retrouvez ici la liste de vos demandes, si vous attendez une réponse,</p>
                        <p>n'hésitez pas à venir les consuler régulièrement!</p>
                    </div>
                    {% for advice in app.user.patient.adviceRequests %}

                        <div class="card bg-dark text-white mb-3 mt-3">
                            <div class="card-header">
                                <h3>Sujet : {{ advice.topic }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Spécialité médicale : {{ advice.pathology.category }}</p>
                                <p class="card-text">Description : {{ advice.problem }}</p>
                                {% if advice.isViewed == true %}
                                    <a class="btn btn-warning my-2"
                                       href="{{ path('conversation_show', {'id': advice.id}) }}">Afficher
                                        cette conversation
                                    </a>
                                {% endif %}
                                {% include "/advice_request/_delete_form.html.twig" %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% elseif is_granted('ROLE_DOCTOR') %}
        <div class="row">
            <div class="card bg-dark text-white col-6">
                <h2 class="ml-5">Mes informations</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark"><h4>{{ app.user.doctor.lname }} {{ app.user.doctor.fname }}</h4>
                    </li>
                    <li class="list-group-item bg-dark">Région : {{ app.user.doctor.region.name }}</li>
                    <li class="list-group-item bg-dark">Téléphone : {{ app.user.doctor.phone }}</li>
                    <li class="list-group-item bg-dark">E-mail : {{ app.user.email }}</li>
                    <li class="list-group-item bg-dark"><a href="{{ path('doctor_edit', {'id' : app.user.doctor.id}) }}"
                                                           class="btn btn-primary">Modifier mes informations</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div>
            <div class="row mb-5">
                <img src="/build/images/doctors-home.png" class="mx-auto" height="300">
            </div>
            <div class="row mx-auto">
                <h2 class="text-white mx-auto">Bienvenue sur Eir Advices!</h2>
            </div>
            <div class="row mx-auto">
                <h4 class="mx-auto text-white">Le site qui vous permet de demander conseil à des médecins partout en
                    France afin d'obtenir des conseils personnalisés!</h4>
            </div>
            <div class="d-flex flex-wrap justify-content-center mt-3">
                <div class="col-12 col-lg-2 text-white rounded d-flex flex-column mt-3">
                    <p>J'ai déja un compte:</p>
                    <a href="{{ path('app_login') }}" class="btn btn-dark text-white m-2 ">Me connecter</a>
                </div>
                <div class="col-12 col-lg-2 text-white rounded d-flex flex-column mt-3">
                    <p>Je n'ai pas encore de compte:</p>
                    <a href="{{ path('app_register') }}" class="btn btn-dark text-white m-2 ">M'inscrire</a>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
