{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-lg-8 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    {{ form_start(registrationForm, {'attr': {'id': 'msform'}}) }}
                    <h2 class="text-primary"><strong>Je m'inscris</strong></h2>
                    <div class="row">
                        <div class="col-12 mx-0">
                                <!-- progressbar -->
                                <ul id="progressbar" class="p-0">
                                    <li id="disclaimer" class="active"><strong class="d-none d-lg-block">Avertissements</strong></li>
                                    <li id="contact"><strong class="d-none d-lg-block">Informations de contact</strong></li>
                                    <li id="personal"><strong class="d-none d-lg-block">Informations personnelles</strong></li>
                                    <li id="pathology"><strong class="d-none d-lg-block">Maladies connues</strong></li>
                                    <li id="validation"><strong class="d-none d-lg-block">Validation</strong></li>
                                </ul> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title w-auto">Avertissements</h2>
                                        <p class="p-2">
                                            Cette application («App») ne fournit que des informations, n'est pas un conseil médical ou de traitement et ne peut pas être traitée comme telle par l'utilisateur.
                                            En tant que telle, cette appli ne peut pas être invoquée à des fins de diagnostic médical ou comme recommandation de soins ou de traitement médicaux.
                                            Les informations sur cette appli ne remplacent pas les conseils médicaux professionnels, le diagnostic ou le traitement.
                                            Tout le contenu, y compris le texte, les graphiques, les images et les informations, contenu sur ou disponible via cette appli est uniquement à des fins d'information générale
                                        </p>
                                        {{ form_row(registrationForm.disclaimer, {
                                            label: "J'ai bien pris connaissance des conditions d'utilisation",
                                        }) }}
                                        <ul class="alert-danger js-errors"></ul>
                                    </div>
                                    <div>
                                        <input type="button" name="next" class="next action-button" value="Suivant" />
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Informations de contact</h2>
                                        {{ form_row(registrationForm.region, {
                                            label: 'Département de résidence',
                                            attr: {
                                                'class': 'list-dt',
                                            }
                                        }) }}
                                        {{ form_row(registrationForm.email, {
                                            label: 'Adresse e-mail'
                                        }) }}
                                    </div>
                                    <div class="d-lg-flex flex-lg-row-reverse justify-content-center">
                                        <input type="button" name="next" class="next action-button" value="Suivant" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Informations personnelles</h2>
                                        {{ form_row(registrationForm.lName, {
                                            label: 'Nom de famille'
                                        }) }}
                                        {{ form_row(registrationForm.fName, {
                                            label: 'Prénom'
                                        }) }}
                                        {{ form_row(registrationForm.sexe, {
                                            label: 'Je suis'
                                        }) }}
                                        {{ form_row(registrationForm.birthDate, {
                                            label: 'Date de naissance'
                                        }) }}
                                    </div>
                                    <div class="d-lg-flex flex-lg-row-reverse justify-content-center">
                                        <input type="button" name="next" class="next action-button" value="Suivant" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Maladies connues</h2>
                                        {{ form_row(registrationForm.pathology, {
                                            label: 'Si vous avez une maladie ou une pathologie diagnostiquée '
                                        }) }}
                                    </div>
                                    <div class="d-lg-flex flex-lg-row-reverse justify-content-center">
                                        <input type="button" name="next" class="next action-button" value="Suivant" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Validation</h2>
                                        {{ form_row(registrationForm.plainPassword, {
                                            label: 'Mot de passe'
                                        }) }}
                                    </div>
                                    <div class="d-lg-flex flex-lg-row-reverse justify-content-center">
                                        <button type="submit" class="btn btn-primary action-button w-lg-25">Je valide mon inscription</button>
                                        <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    </div>
                                </fieldset>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datepicker') }}
    {{ encore_entry_script_tags('registration') }}
    bootstrapValidate(
    '#docs-demo',
    'email:Enter a valid E-Mail Address!'
    );
{% endblock %}
