{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-lg-8 text-center p-0 mt-3 mb-2">
                <div class="card bg-dark px-0 pt-4 pb-0 mt-3 mb-3">
                    {{ form_start(registrationForm, {'attr': {'id': 'msform'}}) }}
                    <h2 class="text-primary"><strong>Je m'inscris</strong></h2>
                    <div class="row">
                        <div class="col-12 mx-0">
                                <!-- progressbar -->
                                <ul id="progressbar" class="p-0">
                                    <li id="disclaimer" class="active"><strong class="d-none d-lg-block">Avertissements</strong></li>
                                    <li id="contact"><strong class="d-none d-lg-block">Informations de contact</strong></li>
                                    <li id="personal"><strong class="d-none d-lg-block">Informations personnelles</strong></li>
                                    <li id="pathology"><strong class="d-none d-lg-block">Maladies connues</strong></li>
                                    <li id="validation"><strong class="d-none d-lg-block">Validation</strong></li>
                                </ul> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Avertissements</h2>
                                        <p>
                                            Lorem ipsum
                                        </p>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Suivant" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Informations de contact</h2>
                                        {{ form_row(registrationForm.region, {
                                            label: 'Département de résidence',
                                            attr: {
                                                'class': 'list-dt',
                                            }
                                        }) }}
                                        {{ form_row(registrationForm.email, {
                                            label: 'Adresse e-mail'
                                        }) }}
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    <input type="button" name="next" class="next action-button" value="Suivant" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Informations personnelles</h2>
                                        {{ form_row(registrationForm.lName, {
                                            label: 'Nom de famille'
                                        }) }}
                                        {{ form_row(registrationForm.fName, {
                                            label: 'Prénom'
                                        }) }}
                                        {{ form_row(registrationForm.sexe, {
                                            label: 'Genre'
                                        }) }}
                                        {{ form_row(registrationForm.birthDate, {
                                            label: 'Date de naissance'
                                        }) }}
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    <input type="button" name="next" class="next action-button" value="Suivant" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Maladies connues</h2>
                                        {{ form_row(registrationForm.pathology, {
                                            label: 'Si vous avez une maladie ou une pathologie diagnostiquée '
                                        }) }}
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                    <input type="button" name="next" class="next action-button" value="Suivant" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Validation</h2>
                                        {{ form_row(registrationForm.plainPassword, {
                                            label: 'Mot de passe'
                                        }) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Je valide mon inscription</button>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                </fieldset>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datepicker') }}
    {{ encore_entry_script_tags('registration') }}
{% endblock %}
