{{ form_start(form) }}
        {{ form_row(form.fName) }}
        {{ form_row(form.lName) }}
        {{ form_row(form.region) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.pathology) }}

<button type="submit" class="btn bg-dark text-white">Sauvegarder</button>
{{ form_end(form) }}
