{% extends 'base.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block body %}
    <h1>Doctor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FName</th>
                <th>LName</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.fName }}</td>
                <td>{{ doctor.lName }}</td>
                <td>{{ doctor.phone }}</td>
                <td>
                    <a href="{{ path('doctor_show', {'id': doctor.id}) }}">show</a>
                    <a href="{{ path('doctor_edit', {'id': doctor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doctor_new') }}">Create new</a>
{% endblock %}
