{% extends 'base.html.twig' %}

{% block title %}BOITE DE RECEPTION{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container-fluid mx-2 my-2">
            <div class="row col-5 mx-auto">
                <h1 class="mx-auto text-center my-3">BOITE DE RECEPTION</h1>
            </div>
        </div>


        <section>
            <ul class="slider-list col-6 mx-auto">
                {% for request in requests %}
                    <a href="{{ path('conversation_show', {'id': request.id}) }}" style="color: black">
                        <li class="slide">
                            <p class="message"><span
                                        class="subject">{{ request.doctor.fName }} {{ request.doctor.lName }}</span> {{ request.topic }}
                            </p>
                            <p class="row ml-auto">{% for message in request.messages %} {% if loop.last %} {{ message.message }}{% endif %} {% endfor %}</p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </section>

    </div>

{% endblock %}