{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block body %}
{% if advice != 1 %}
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ advice.patient.lname }} {{ advice.patient.fname }}</h5>
            <p class="card-text">{{ advice.topic }}</p>
            <p class="card-text">{{ advice.problem }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Maladies connues : {{ advice.patient.disease }}</li>
            <li class="list-group-item">{{ advice.pathology.category }}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('answer',{'id': advice.id} ) }}" class="card-link">Répondre a ce patient</a>
            <a href="{{ path('blacklist',{'id': advice.id} ) }}" class="card-link">Blacklister cette demande.</a>
        </div>
    </div>
{% else %}
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Plus aucune requette, revenez plus tard.</h5>
            <p class="card-text">Vous avez blacklisté toutes les demandes actuelles.</p>
        </div>
    </div>

{% endif %}
{% endblock %}
